<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.23.custom.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/bootstrap.min-flatly.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="screen, projection">
    	<script src="{% static 'jquery-3.3.1.min.js' %}"  type="text/javascript" ></script>
		<title>Go site</title>
	</head>
	<body>
		{% include "header.html" %}
		<div class="container">
			<div class="row">
				<div class="col-9">
					<h3>Latest games added</h3>
                    <table class="table table-hover">
                    {% for kifu in KIFUS %}
                        <tr>
                            <td>
                                <a href="/{{ kifu.get_absolute_url }}">{{ kifu.to_string }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
				</div>
				<div class="col-3">
					<a href="/game/new" class="btn btn-default btn-primary" role="button">New game</a>
					<h3>Groups</h3>
                    <div class="list-group">
                    {% for group in GROUPS %}
                        <a role="button" class="list-group-item list-group-item-action" href="/group/{{ group.slug }}">{{ group.name }}</a>
                    {% endfor %}
                    </div>
				</div>
			</div>
			<hr/>
			<div class="row">
				{% include "footer.html" %}
			</div>
		</div>
	</body>
</html>