<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.23.custom.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="screen, projection">
		<script src="/static/js/jquery-1.7.1.min.js"  type="text/javascript" ></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"  type="text/javascript" ></script>
		<title>Matei Florescu</title>
	</head>
	<body>
		{% include "header.html" %}
		<div class="container">
			<div class="row">
				<div class="span9">
					<h3>Latest games added</h3>
                    {% for kifu in KIFUS %}
                    <div>
                        <a href="/{{ kifu.get_absolute_url }}">{{ kifu.to_string }}</a>
                    </div>
                    {% endfor %}
				</div>
				<div class="span3">
					<h3>Groups</h3>
                    {% for group in GROUPS %}
                    <div>
                        <a href="/group/{{ group.slug }}">{{ group.name }}</a>
                    </div>
                    {% endfor %}
				</div>
			</div>
			<hr/>
			<div class="row">
				{% include "footer.html" %}
			</div>
		</div>
	</body>
</html>