<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">MF</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="/recent-games/">Recent games</a></li>
                    <li><a href="/search-games/">Search games</a></li>
                    <li><a href="/game_categories/">Categories</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>